<!DOCTYPE html>
<html lang="ru" prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article#">
<head>
	<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8" />

	<!-- №96 -->

	<title>{{ .Title }} | {{ $.Site.Title }}</title>

	{{ $stylesheet := .Site.Data.webpack.main }}
	{{ with $stylesheet.css }}
	<link href="{{ relURL . }}" rel="stylesheet">
	{{ end }}

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="icon" href="https://infrancer.com/favicon.svg" type="image/svg+xml" />
	<link rel="stylesheet" href="https://infrancer.com/m.css">

	<base href="{{ $.Site.BaseURL }}">
	<link rel="canonical" href="{{ $.Site.BaseURL }}">

	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-P23VD7X');</script>
	<!-- End Google Tag Manager -->

  {{ if .IsHome }}
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  {{ end }}
</head>