	<footer>
		<p class="copyright">inFrancer<span>.com</span></p>
	</footer>

	<script type="application/ld+json">
		{
		"@context": "https://schema.org",
		"@type": "BreadcrumbList",
		"itemListElement": 
		[{
		"@type": "ListItem",
		"position": 1,
		"name": "Île-de-France",
		"item": "https://infrancer.com/ile-de-france.html"
		},{
		"@type": "ListItem",
		"position": 2,
		"name": "Paris",
		"item": "https://infrancer.com/paris.html"
		},{
		"@type": "ListItem",
		"position": 3,
		"name": "BnF Richelieu"
		}]}
	</script> 

{{ partial "svg" . }}
